
@font-face {
  font-family: fontfam_Helvetica;
  src: url("https://rzel.github.io/fonts/HelveticaLTStd-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: fontfam_HelveticaRounded;
  src: url("https://rzel.github.io/fonts/HelveticaRoundedLTStd-Bd.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}


@font-face {
  font-family: fontfam_Futura;
  src: url("https://rzel.github.io/fonts/FuturaStd-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}


@font-face {
  font-family: fontfam_Eurostile;
  src: url("https://rzel.github.io/fonts/EurostileLTStd-BoldEx2.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}


@font-face {
  font-family: fontfam_Clarendon;
  src: url("https://rzel.github.io/fonts/ClarendonEF-BoldExpanded.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}


@font-face {
  font-family: fontfam_Rockwell;
  src: url("https://rzel.github.io/fonts/RockwellStd-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}


@font-face {
  font-family: fontfam_Garamond;
  src: url("https://rzel.github.io/fonts/ITCGaramondStd-Bk.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}



@font-face {
  font-family: fontfam_Bodoni;
  src: url("https://rzel.github.io/fonts/BodoniStd-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: fontfam_Didot;
  src: url("https://rzel.github.io/fonts/DidotLTStd-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}


@font-face {
  font-family: fontfam_Catull;
  src: url("https://rzel.github.io/fonts/CatullBQ-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}


@font-face {
  font-family: fontfam_ZapfChancery;
  src: url("https://rzel.github.io/fonts/ZapfChanceryStd-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}


@font-face {
  font-family: fontfam_BlackRose;
  src: url("https://rzel.github.io/fonts/BlackRose.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}

//-----------------------------------------------------------------------------------------------------------

@font-face {
  font-family: fontfam_OpenSansCondensedL;
  src: url("https://rzel.github.io/fonts/OpenSansCondensed-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: fontfam_OpenSansCondensedLI;
  src: url("https://rzel.github.io/fonts/OpenSansCondensed-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: fontfam_OpenSansCondensedB;
  src: url("https://rzel.github.io/fonts/OpenSansCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}











