
@font-face {
  font-family: logofont_BlackRose;
  src: url("https://rzel.github.io/fonts/BlackRose.woff") format("woff");
}



@font-face {
  font-family: logofont_Bodoni;
  src: url("https://rzel.github.io/fonts/BodoniStd-Bold.woff") format("woff");
}




@font-face {
  font-family: logofont_Catull;
  src: url("https://rzel.github.io/fonts/CatullBQ-Bold.woff") format("woff");
}








